src/PL_FMD_LOAD_BRONZE.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{ \"Action\" : \"Start\" }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "StartPipelineActivity",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Bronze",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "075e5656-613d-41f4-89ed-63f6837c0ff6",
              "workspaceId": "7774469b-0c95-48b9-bc42-a36c8c0e8bca"
            },
            "externalReferences": {
              "connection": "372237f9-709a-48f8-8fb2-ce06940c990e"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_START_AUDIT_PIPELINE",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[logging].[sp_AuditPipeline]",
          "storedProcedureParameters": {
            "LogData": {
              "value": {
                "value": "{    \"Action\" : \"End\"    }",
                "type": "Expression"
              },
              "type": "String"
            },
            "LogType": {
              "value": "EndPipelineActivity",
              "type": "String"
            },
            "PipelineGuid": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "PipelineParameters": {
              "value": null,
              "type": "String"
            },
            "PipelineParentRunGuid": {
              "value": {
                "value": "@pipeline()?.TriggeredByPipelineRunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "PipelineRunGuid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "String"
            },
            "WorkspaceGuid": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "Guid"
            },
            "EntityLayer": {
              "value": "Bronze",
              "type": "String"
            },
            "EntityId": {
              "value": null,
              "type": "Int32"
            }
          }
        },
        "connectionSettings": {
          "name": "SQL_FMD_FRAMEWORK",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "075e5656-613d-41f4-89ed-63f6837c0ff6",
              "workspaceId": "7774469b-0c95-48b9-bc42-a36c8c0e8bca"
            },
            "externalReferences": {
              "connection": "372237f9-709a-48f8-8fb2-ce06940c990e"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_END_AUDIT_PIPELINE",
        "dependsOn": [
          {
            "activity": "ForEachExitValue",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderStoredProcedureName": "[execution].[sp_GetBronzelayerEntity]",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SQL_FMD_FRAMEWORK",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "075e5656-613d-41f4-89ed-63f6837c0ff6",
                  "workspaceId": "7774469b-0c95-48b9-bc42-a36c8c0e8bca"
                },
                "externalReferences": {
                  "connection": "372237f9-709a-48f8-8fb2-ce06940c990e"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LK_GET_ENTITIES_BRZ",
        "description": "Will run all the Entities for the Bronze Layer",
        "dependsOn": [
          {
            "activity": "SP_START_AUDIT_PIPELINE",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "bf2101e2-a101-b8df-43bf-5f6ba130a279",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "Path": {
              "value": {
                "value": "@activity('LK_GET_ENTITIES_BRZ').output.value[0].notebookParams",
                "type": "Expression"
              },
              "type": "string"
            },
            "TriggerGuid": {
              "value": {
                "value": "@pipeline().TriggerId",
                "type": "Expression"
              },
              "type": "string"
            },
            "TriggerTime": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "string"
            },
            "TriggerType": {
              "value": {
                "value": "@pipeline().TriggerType",
                "type": "Expression"
              },
              "type": "string"
            },
            "tenant_id": {
              "type": "string"
            },
            "key_vault": {
              "value": {
                "value": "@pipeline().parameters.key_vault_name",
                "type": "Expression"
              },
              "type": "string"
            },
            "schema_enabled": {
              "value": {
                "value": "@pipeline().parameters.Lakehouse_schema_enabled",
                "type": "Expression"
              },
              "type": "bool"
            }
          },
          "sessionTag": "fmd_framework"
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "NB_FMD_PROCESSING_PARALLEL_MAIN",
        "dependsOn": [
          {
            "activity": "LK_GET_ENTITIES_BRZ",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@json(activity('NB_FMD_PROCESSING_PARALLEL_MAIN').output.result.exitValue)",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[execution].[sp_UpsertPipelineLandingzoneEntity]",
                "storedProcedureParameters": {
                  "Filename": {
                    "value": {
                      "value": "@json(item().exitVal).CopyOutput.SourceFileName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "FilePath": {
                    "value": {
                      "value": "@json(item().exitVal).CopyOutput.SourceFilePath",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "IsProcessed": {
                    "value": "True",
                    "type": "Boolean"
                  },
                  "LandingzoneEntityId": {
                    "value": {
                      "value": "@json(item().exitVal).CopyOutput.LandingzoneEntityId",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "075e5656-613d-41f4-89ed-63f6837c0ff6",
                    "workspaceId": "7774469b-0c95-48b9-bc42-a36c8c0e8bca"
                  },
                  "externalReferences": {
                    "connection": "372237f9-709a-48f8-8fb2-ce06940c990e"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SP_UPDATE_PROCESS",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[logging].[sp_AuditPipeline]",
                "storedProcedureParameters": {
                  "LogData": {
                    "value": {
                      "value": "{    \"Action\" : \"End\"    }",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "LogType": {
                    "value": "NotebookActivity",
                    "type": "String"
                  },
                  "PipelineGuid": {
                    "value": {
                      "value": "@pipeline().Pipeline",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineName": {
                    "value": {
                      "value": "@pipeline().PipelineName",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "PipelineParameters": {
                    "value": null,
                    "type": "String"
                  },
                  "PipelineParentRunGuid": {
                    "value": {
                      "value": "@pipeline()?.TriggeredByPipelineRunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "PipelineRunGuid": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerGuid": {
                    "value": {
                      "value": "@pipeline().TriggerId",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "TriggerTime": {
                    "value": {
                      "value": "@pipeline().TriggerTime",
                      "type": "Expression"
                    },
                    "type": "DateTime"
                  },
                  "TriggerType": {
                    "value": {
                      "value": "@pipeline().TriggerType",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "WorkspaceGuid": {
                    "value": {
                      "value": "@pipeline().DataFactory",
                      "type": "Expression"
                    },
                    "type": "Guid"
                  },
                  "EntityLayer": {
                    "value": "Bronze",
                    "type": "String"
                  },
                  "EntityId": {
                    "value": {
                      "value": "@json(item().exitVal).CopyOutput.EntityId",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  }
                }
              },
              "connectionSettings": {
                "name": "SQL_FMD_FRAMEWORK",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "075e5656-613d-41f4-89ed-63f6837c0ff6",
                    "workspaceId": "7774469b-0c95-48b9-bc42-a36c8c0e8bca"
                  },
                  "externalReferences": {
                    "connection": "372237f9-709a-48f8-8fb2-ce06940c990e"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.01:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SP_END_AUDIT_PIPELINE_NB",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEachExitValue",
        "dependsOn": [
          {
            "activity": "NB_FMD_PROCESSING_PARALLEL_MAIN",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "key_vault_name": {
        "type": "string"
      },
      "Lakehouse_schema_enabled": {
        "type": "bool"
      }
    }
  }
}